<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">

    <script>
        _id = ""
        id_list = []
        function addIdToList(_id_) {
            id_list.push(_id_)
            console.log(id_list)
        }
    </script>
</head>
<body>
{% for def in defs %}
    <div style="" class="card"
         id="{{ def.id }}">
        <div style="display: flex; justify-content: center">
            <div class="front_card" style="display: flex">
                <h2>{{ def.questions }}</h2>
            </div>

            <div class="back_card" style="display: none">
                <h2 style="color: forestgreen">{{ def.answers }}</h2>
            </div>
        </div>

        <div class="button_wrapper" id="{{ def.id }}_button_wrapper">
            <a style="" class="button_back_card"
               id="{{ def.id }}_button">
                <img src="{{ url_for('static', filename='svg/arrow-top-right.svg') }}">
            </a>
        </div>
    </div>
    <script>
        addIdToList("{{ def.id }}")
    </script>

{% endfor %}

<script>

</script>

</body>
</html>