<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='interpter.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/default_vars.js') }}"></script>

    <style>
        * {
            font-family: Manrope;
            box-sizing: border-box;
        }

        .nav_card_text {
            color: white;
            margin: 0 5px;
            text-transform: uppercase;
            cursor: pointer;
        }
    </style>

</head>
<body style="background-color: #1e2025; margin: 0">
{% include 'menu.html' %}
<div class="wrap_main_cont">
    {% include 'card_overview.html' %}
</div>

</body>
</html>